.captionCont {
    position: absolute;
    bottom: 40px;
    left: 5%;
    transform: translateY(200px);
    background-color: #fff;
    padding: 24px 64px 24px 16px;
    font-family: "Times New Roman", "游明朝", "YuMincho", "Hiragino Mincho ProN", "Meiryo", "serif";
    opacity: 0;
    .title{
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 0;
        letter-spacing: .1em;
    }
    .subTitle {
        font-size: 12px;
        margin-top: 4px;
        .subTitleBlock {
            display: block;
        }
    }
    .line {
        content:"";
        display: block;
        width: 50%;
        height: 0.05em;
        background-color: #000;
        margin: 16px 0;
    }
    .category {
        font-size: 13px;
        letter-spacing: 0.05em;
        display: flex;
    }
    .architect {
        font-size: 13px;
        letter-spacing: 0.05em;
        display: flex;
    }
}

.imgHover {
    animation: showcaption 0.3s ease-in forwards;
}

.captionCont:not(.imgHover) {
    animation: hidecaption 0.3s ease-out forwards;
}

@keyframes showcaption {
    0% {  
        opacity: 0;
        transform: translateY(200px); 
    }
    100% { 
        opacity: 1; 
        transform: translateY(40px); 
    }
}

@keyframes hidecaption {
    0% { 
        opacity: 1;
        transform: translateY(40px);
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(200px); 
    }
}

.loading {
    opacity: 0.3;
    transition: opacity 0.5s ease;
}