
.visionTitle {
    font-weight: 400;
}

.visionTextEn {
    font-size: 14px;
    letter-spacing: 0.06em;
    line-height: 2.3;
    text-align: justify;
    margin: 0;
}

.visionTextCont {
    margin-bottom: 48px;
    .visionTextJa {
        margin: 0;
        font-size: 14px;
        letter-spacing: .1em;
        line-height: 2.3;
    }
}
