.tabCont, .tabCont2 {
    font-family: "Times New Roman", "游明朝", "YuMincho", "Hiragino Mincho ProN", "Meiryo", "serif";
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    padding-top: 190px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 900px;
    width: 100%; 
    background-color: #fff;
    z-index: 2;
    .sectionTitle {
        font-weight: 400;
        letter-spacing: 0.05em;
    }
    .tabList {
        display: flex;
        width: 100%;
        gap: 10px; 
        margin-bottom: 16px;
        flex-wrap: wrap;
        .tabStyle {
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 3px solid transparent;
            padding: 0;
            font-weight: 400;
            color: #adadad;
            .mark {
                font-size: 12px;
                margin-right: 4px;
                margin-top: 4px;
                align-self: flex-start;
                &:hover {
                    color: #000;
                }
            }
            .text {
                letter-spacing: 0.08em;
                font-size: 14px;
                font-family: "Times New Roman", "游明朝", "YuMincho", "Hiragino Mincho ProN", "Meiryo", "serif";
                &:hover {
                    color: #000;
                }
            }
            &:hover {
                border-bottom: 3px solid #000;
                color: #000;
                cursor: pointer;
            }
        }
    }
}

.pageSection {
    padding-top: 140px; /* タブの高さ分余白を固定 */
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
}

.active {
    border-bottom: 3px solid #000 !important;
    color: #000 !important;
}