.dataList {
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 0;
    padding: 0 5%;
    font-family: "Times New Roman", "游明朝", "YuMincho", "Hiragino Mincho ProN", "Meiryo", "serif";
    .listDetail {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 24px;
        margin-bottom: 48px;
        .dataTitle {
            font-size: 18px;
            font-weight: 400;
            margin: 16px 0 0 0;
            letter-spacing: 0.05em;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
            text-align: left;
        }
        .dataSubTitle {
            font-size: 12px;
            margin: 2px 0 0 0;
            letter-spacing: .1em;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
        }
        .category {
            font-size: 13px;
            letter-spacing: 0.05em;
            display: flex;
            margin: 12px 0 0 0;
        }
        .architect {
            font-size: 13px;
            letter-spacing: 0.05em;
            display: flex;
            margin: 4px 0 16px 0;
            .architectBtn {
              display: flex;
              .singleBtn {
                font-style: oblique;
                font-family: "Times New Roman", "游明朝", "YuMincho", "Hiragino Mincho ProN", "Meiryo", "serif";
                text-decoration: underline;
                background-color: transparent;
                border: none;
                padding: 0;
                cursor: pointer;
                margin-left: 4px;
                &:hover {
                    opacity: .6;
                    text-decoration: none;
                  }
              }
              .container {
                display: flex;
                background-color: transparent;
                border: none;
                padding: 0;
                .span {
                  margin-left: 4px;
                  text-decoration: underline;
                  font-style: oblique;
                  font-family: "Times New Roman", "游明朝", "YuMincho", "Hiragino Mincho ProN", "Meiryo", "serif";
                  cursor: pointer;
                  &:hover {
                    opacity: .6;
                    text-decoration: none;
                  }
                }
                .mark {
                  margin-left: 2px;
                }
                }
            }

        }
    }
}