.dataList {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 2%;
    font-family: "Times New Roman", "游明朝", "YuMincho", "Hiragino Mincho ProN", "Meiryo", "serif";
    .listDetail {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 24px;
        margin-bottom: 48px;
        .dataTitle {
            font-size: 18px;
            font-weight: 400;
            margin: 16px 0 0 0;
            letter-spacing: 0.05em;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
            text-align: left;
        }
        .dataSubTitle {
            font-size: 12px;
            margin: 2px 0 0 0;
            letter-spacing: .1em;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
        }
        .category {
            font-size: 13px;
            letter-spacing: 0.05em;
            display: flex;
            margin: 12px 0 0 0;
        }
    }
}

.hidden {
    display: none !important;
}