.bgImgList {
    padding-top: 140px;
    padding-left: 0;
    margin-top: 0;
    & > li {
        position: relative;
        overflow: hidden;
        .bgImg {
            width: 100vw;
            height: auto;
            margin-top: 32px;
            cursor: pointer;
        }
    }

}