.footerDiv {
    z-index: 5;
}

.footerSec {
    width: 100vw;
    text-align: center;
    padding: 80px 0 0;
    background-color: #e5e5da;
    margin-top: 40px;
    .footerWorkBtn {
        position: static !important;
        transform: translate(0,0) !important;
        &:hover {
            background-color: transparent !important;
        }
    }
}

.backTopBtn {
    display: inline-block;
    margin: 32px auto 48px;
    .topImg {
        cursor: pointer;
    }
}

.loading {
    opacity: 0.3;
    transition: opacity 0.5s ease;
}


.footerWorkTitle {
    cursor: default !important;
}

.copyright {
    font-family: "Times New Roman", "游明朝", "YuMincho", "Hiragino Mincho ProN", "Meiryo", "serif";
    letter-spacing: 0.02em;
    background-color: #fff;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 40px;
}

