.detailTextDiv p {
    margin: 0 0 8px 0;
    font-size: 12px;
    font-family: "Times New Roman", "游明朝", "YuMincho", "Hiragino Mincho ProN", "Meiryo", "serif";
    font-weight: 300;
    letter-spacing: 0.1em;
    line-height: 1.8;
}

.detailTextDiv {
    margin-bottom: 24px;
}